@background-base:#fbfbfb;
@width-base:960px;

.container{
	width:@width-base;
	background-color:@background-base;
	border:0px solid #000;
	padding:5px;
	margin:auto;

	.header{
		width:@width-base;
		height:50px;
		border:0px solid #000;

		.logo{
			border:0px solid #000;
			float:left;
			width:@width-base/3;
			padding:10px;
			border:0px solid #000;

		}

		.topmenu{
			float:right;
			width:500px;
			margin-left:20px;
			background:transparent;
			border:0px solid #000;

			ul{
				float:left;
				font-size:14px;
				text-transform:uppercase;
				list-style:none;
				display:block;
				line-height:50px;

				li{
					display:inline-block;
					margin-right:00px;
					padding-left:0px;
					padding-right:0px;

					a{
						color:#000;
						text-decoration:none;
						padding-left:20px;
						padding-right:20px;
						padding-top:20px;
						padding-bottom:20px;

						&:hover{
						color:#005580;
						background:#f5f5f5;
						}
						
					}
				}
			}

		}

	}
}


